TZ=Europe/Tallinn
PGTZ=Europe/Tallinn

POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=5435

DB_HOST=db
DB_PORT=5432
DB_USER=praktikum
DB_PASSWORD=praktikum
DB_NAME=praktikum

PGHOST=db
PGPORT=5432
PGUSER=praktikum
PGPASSWORD=praktikum
PGDATABASE=praktikum

PYTHONUNBUFFERED=1
SOURCE_API_PORT=8014
SOURCE_API_PORT_HOST=8014
SOURCE_API_URL=http://source-api:8014
SOURCE_START_DATE=2026-04-01
SOURCE_END_DATE=2026-04-09
SOURCE_BUSINESS_DATE=2026-04-09
